body { 
    background: pink; 
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif; 
 } 

h1 {
   color: black; 
   text-align: center; 
  }

   .projects {
   display:flex; 
   flex-wrap:wrap;  /* condensed to save space */
   }
   .projects h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
   }

   .project {
   width: 30%;
   margin: 10px;
   padding: 20px 10px;
   background: white; /* pick a color */
   border-radius: 25%;
   }
   .project h3 {
      /* pull the h3 text away from the left blob wall */
      margin-left: 50px;
   }
   .project img {
      /* adjust your image sizes as needed */
      width: 400px;
      height: 300px;
      margin: 10px auto;
      border: 2px solid black;
      display: block;
      /* center the images inside the blobs */
      text-align: center;
   }
   .project p {
      /* center the p text in the blob */
      text-align: center;
      margin: 15px;
   }
