body { 
    background: pink; 
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
 } 

h1 {
    color: black; text-align: center; 
   font-size: 20px;

  }

.projects {
   display:flex; 
   flex-wrap:wrap;  /* condensed to save space */
}

.project {
   width: 30%;
   margin: 10px;
   padding: 20px 10px;
   background: white; /* pick a color */
   border-radius: 25%;
}


  .project img {
    display: block;
    margin: 0 auto;
    width: 70%;   
    height: auto; 
}
